.btn
{
	min-width: 0 !important;
}
.box
{
	border-radius: 2px !important;
	border: 1px solid !important;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5 !important;
	height: 100% !important;
	margin-bottom: 10px !important;
}
.box-header:not('box-normal')
{
	background-color: #000 !important;
	border-bottom: 3px solid blue !important;
}
.box-title
{
	color: #FFF !important;
	font-size: 14px !important;
}
.btn-box-tool
{
	padding: 5px !important;
    font-size: 12px !important;
    background: transparent !important;
    color: #97a0b3 !important;
}
.box-header>.box-tools .dropdown-menu>li>a,
.box-header>.box-tools .dropdown-menu>li>span
{
	color: #444!important;
	line-height: 20px;
	font-size: 12px;
	padding: 3px 20px;
	width: 100%;
	display: block;
}
.box-header>.box-tools .dropdown-menu>li>span:hover
{
	cursor: hand;
	cursor: pointer;
	background-color: #e1e3e9;
}
.dropdown-menu>li>a:hover
{
	background-color: #e1e3e9 !important;
}
.btn-box-tool:hover
{
	color: #000 !important;
}
.btn-group.open .dropdown-toggle
{
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125) !important;
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125) !important;
}
.input-group .form-control
{
	border: 1px solid #d2d6de !important;
}
.input-group .input-group-addon
{
	background-color: #EEE;
}