.app-container
{
	background-color: #e9ebee;
}
#n_u_i
{
	float: right; 
	color: #FFF; 
}
#s_n
{
	float: left; 
}
#n_c_m
{
	float: left; 
}
body .navbar
{
	z-index: 99999;
}
#t_1
{
	position: fixed; 
	width: 100vw;
	z-index: 9999;
}
#t_2_s_1
{
	margin-top: -1px;
	z-index: 99 !important;
}
#t_2_s_1 .container
{
	margin-left: 0;
}
#company-collapse-title
{
	float: left; 
	min-width: 77%; 
	margin-left: -10px;
	position: absolute;
}
#company-collapse-title div:nth-child(1)
{
	float: left;
}
#t_2_c_l
{
	height: 50px;
}
#t_2_c_n
{
	text-align: left; 
	margin-bottom: 0; 
	font-size: 24px; 
	color: #0026ff; 
	font-family: calibre; 
	margin-top: 10px;
}
#company-details
{
	margin-left: 10px;
}
#company-details div:nth-child(1)
{
	float: left;
}
#c_d_c_n
{
	text-align: left; 
	margin-bottom: 0; 
	font-size: 24px; 
	color: #0026ff; 
	font-family: calibre;
}
#c_d_c_l
{
	height: 100px;
}
#company-details div:nth-child(2) span
{
	color: #FFF; 
	display: block; 
	font-size: 12px;
}
.n_cp_n_cm > .card-body > .row
{
	margin: 0;
}

.n_cp_n_cm > .card-body > .row > .dp-tiles-full:hover,
.n_cp_n_cm > .card-body > .row > .dp-tiles:hover
{
	z-index: 0;
}

.dp-tiles,
.dp-tiles-full,
.button-group-custom a
{
	height: 158px !important;
	background-image: url('../img/background.png') !important;
	background-repeat: no-repeat;
	background-position: 0px 100px;
}

.dp-tiles,
.dp-tiles-full
{
	display: table;
}

.dp-tiles > span,
.dp-tiles-full > span
{
	display: table-cell;
	vertical-align: middle;
}

.dp-tiles
{
	background-color: #FFF;
}

.dp-tiles-full
{
	background-color: #000;
}
.dp-tiles-full span h4:first-child
{
	color: #FFF;
}
.dp-tiles-full span h4:last-child
{
	color: blue;
}
.dp-tiles span h4:first-child,
.dp-tiles-full span h4:first-child
{
	font-size: 10px !important
}
.dp-tiles span h4:last-child,
.dp-tiles-full span h4:last-child
{
	font-size: 13px !important;
}

.row a[class*="dp-tiles"]
{
	/*margin-left: 0.8%;*/
	margin-bottom: 1px !important;
}
.modal-title
{
	font-weight: normal !important;
}
.popover
{
	z-index: 99 !important;
	background-color: #808080 !important;
}
.popover h4.modal-title
{
	color: #FFF;
}
.popover .modal-footer
{
	background-color: #808080 !important;
}
.popover input
{
	border: 1px solid #CCC !important;
}
.popover .close
{
	color: #000;
	opacity: 1;
}
.popover input.v-invalid
{
	border-color: red !important;
}
.popover input.v-invalid-format
{
	border-color: orange !important;
}
.input-group .selectize-input.items
{
	text-align: center !important;
}
.popover .selectize-input input
{
	border: none !important;
}
#journals-tab>li
{
	border-bottom: none;
}
#journals-tab>li>a:focus
{
	border-bottom: none !important;
	background-color: none !important;
}
#journals-tab>li>a:hover
{
	border-bottom: 2px solid blue !important;
	background-color: #ECECEC !important;
}
#journals-tab>li.active>a:hover
{
	border-bottom: none !important;
}
#journals-tab>li.active
{
	border-bottom: 2px solid blue;
	background-color: #ECECEC !important;
}
#journals-tab>li>a
{
	padding-top: 6px !important;
	padding-bottom: 6px !important;
}
#journals-tab.big
{
	top: 260px !important;
}
#journals-tab.small
{
	top: 140px !important;
}
div[role='tabpanel'] > .card
{
	margin-top: 0 !important;
}
.box-header .box-title
{
	color: #4E4E4E !important;
}
#summary .box-body table.dataTable.no-footer,
#business-partners .box-body table.dataTable.no-footer
{
	border-bottom: 0 !important;
}
.box-body table.dataTable
{
	border-bottom: 1px solid #DDD !important;
}
@media (min-width: 992px)
{
	.col-md-3.title-hover
	{
		width: 24%;
	}
}