@font-face{
	font-family: segoeui;
	src: url('../../font/segoeui-light.woff');
}
body{
	background-color: #FFF !important;
}

table{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
table button{
	font-size: 7px !important;
}
table td .prev-level{
	float: left; 
	font-weight: bold; 
	font-size: 14px !important; 
	margin: 0; 
	margin-top: -7px;
	margin-right: 10px;
}
table td .next-level{
	float: right; 
	font-weight: bold; 
	font-size: 14px !important; 
	margin: 0; 
	margin-top: -7px;
	margin-left: 10px;
}
#coa-lvl1 td{
	padding-top: 1%;
}
.breadcrumb{
	padding-top: 7px;
	padding-bottom: 7px;
	font-size: 11px;
}
.seq-heading{
	text-align: left; 
	font-size: 20px; 
	font-family: "Times New Roman", Times, serif; 
	font-weight: 100; 
	color: #484848; 
	margin-bottom: 25px;
	font-weight: bold; 
	background-color: #FFF; 
	margin: 0; 
	width: 100%; 
	padding: 20px 0px 10px 10px;
	margin-top: 20px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
#setup-banner{
    background-color: #000;
    border-bottom: 1px solid #ddd;
    margin: 0;
    width: 100%;
    padding: 3px;
}
#banner-logo{
	height: 50px;
	margin-right: 0; 
}
#setup-logo{
    margin: 0 auto; 
    margin-top: -52px; 
    width: 150px; 
    box-shadow: 0 2px 1px 1px #e8e8e8;
}
.card .card-body{
	padding: 0;
}
#setup-nav{
	padding: 0;
}
#setup-nav div[class*=col-md]{
	margin: 0;
	padding: 0;
}
#setup-nav button{
	background-color: #EFEFEF;
	width: 100%;
	height: 100%;
	padding: 15px 0;
	font-size: 13px !important;
}
#setup-nav .setup-tab button{
	background-color: transparent;
	color: #000;
	box-shadow: none !important;
	padding: 0 !important;
	margin: 0;
	opacity: 1;
	cursor: unset;
}
#setup-nav .setup-tab button:after{
	content: "|";
	display: block;
	text-align: center;
}
.progress{
	height: 13px;
}
#notify-1,
#notify-2,
#notify-3
{
	cursor: hand;
	cursor: pointer;
}
.notice{
	background-color: #FFF; 
	padding: 20px 30px 10px 10px !important; 
	text-align: left;
	font-size: 14px;
	color: #353d47;
	display: none;
}
.dataTables_wrapper{
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);
	padding: 10px;
	background-color: #FFF;
}
#branch-table_wrapper,
#users-table_wrapper
{
	padding-bottom: 40px;
	padding-top: 15px !important;
}
#coa-lvl1_wrapper,
#tax-types_wrapper,
#tax_wrapper
{
	padding-top: 10px !important;
}
#btn-next,
#btn-prev
{
	background-color: #FFF !important;
}
.dataTable thead th.sorting_asc,
.dataTable thead th.sorting_desc
{
	color: #353d47 !important;
}
.coa-no{
    position: absolute;
    z-index: 99999999;
    text-align: center;
    margin-top: 9px;
    margin-left: 10px;
    padding: 8px 11px;
    background-color: #FFF;
    color: #000;
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
	height: 34px;
	width: 36px;
	line-height: 1.5;
}
.coa-tab.active span.coa-no{
	background-color: #000;
	color: #FFF;
	border-radius: 50%;
	padding: 8px 11px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
.coa-tab{
	float: left;
	width: 25%;
}
.coa-tab button{
	width: 100%;
	padding: 12px 0;
	font-size: 9px;
}
.coa-tab.active button{
	background-color: #CCC !important;
}
.coa-tab button{
	text-transform: unset;
}
.input-search{
	float: right !important;
	width: 240px;
	margin-top: 10px;
	margin-right: 13px;
	margin-bottom: 10px !important;
}
.dataTables_filter{
	display: none !important;
}
.input-group-addon{
	background-color: #F1F1F1 !important;
}
.flat-blue .table > thead > tr > th{
	border-color: #E0E0E0 !important;
}
table{
	background-color: #FFF;
}
table th,
table td
{
	font-size: 12px !important;
}
.dataTables_filter label{
	font-size: 12px;
}
.dataTables_filter label input{
	font-size: 11px !important;
	height: 15px !important;
}
.coa-tab button{
	font-size: 13px;
}
.tax-no{
    position: absolute;
    z-index: 99999999;
    text-align: center;
    margin-top: 9px;
    margin-left: 10px;
    padding: 8px 11px;
    background-color: #FFF;
    color: #000;
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    height: 34px;
    width: 36px;
    line-height: 1.5;
}
.tax-tab.active span.tax-no{
	background-color: #000;
	color: #FFF;
	border-radius: 50%;
	padding: 8px 11px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
.tax-tab{
	float: left;
	width: 50%;
}
.tax-tab button{
	width: 100%;
	padding: 12px 0;
	font-size: 9px;
}
.tax-tab.active button{
	color: #000 !important;
	background-color: #CCC !important;
}
.tax-tab button{
	font-size: 13px;
}
.popover{
	padding: 0;
}
.popover .popover-content{
	padding-bottom: 3px !important;
	padding-top: 8px !important;
}
.popover label{
	font-size: 12px !important;
	color: #333;
}
.popover input.form-control{
	font-size: 12px !important;
	height: 28px !important;
	/*box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	border: 1px solid #E8E8E8;*/
}
.popover input.form-control:focus{
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.popover input.form-control:focus,
.popover div.selectize-input.input-active
{
	border: 1px solid #66afe9 !important;
}
.popover span{
	font-weight: normal !important;
}
.popover h4{
	font-size: 16px !important;
}
.popover button{
	line-height: 12px !important;
}
.popover .selectize-input{
	height: 28px;
	font-size: 11px;
	line-height: 16px;
}
.popover .selectize-input .item{
	display: block;
}
.popover .selectize-control{
	height: 28px;
}
.popover .selectize-dropdown-content{
	font-size: 11px;
}
.popover .selectize-input.not-full input{
	margin-top: -6px !important;
}
.asterisk-required{
	color: red;
}
table.dataTable thead
{
	border-bottom: 2px solid gray;
}
table.dataTable thead
{
	background: #3a3a3a !important;
}
table.dataTable thead th
{
	color: #FFF !important;
}
table.dataTable.table-condensed>thead>tr>th
{
	border-right: 1px solid #999999 !important;
}
table.dataTable.table-condensed
{
	border: 1px solid #D3D3D3;
	border-top: none;
}
.table-condensed>tbody>tr>td
{
	border-right: 1px solid #D3D3D3;
}
table.dataTable button
{
	margin: 0 !important;
}
@media (min-width: 1200px){
	.container{
		width: 100%;
	}
	.setup-menu{
		width: 80%;
	}
}